<% pages = (@checks.length.to_f / @items_per_page.to_f).ceil %>
<ul class="pagination">
  <li><a href="/displaylist/<%= @type %>:<%= @page-1 %>">&laquo;</a></li>
  <% (1..pages).each do |page| %>
    <% if page == @page %>
      <li class="active"><a href="/displaylist/<%= @type %>:<%= page %>"><%= page %></a></li>
    <% else %>
      <li><a href="/displaylist/<%= @type %>:<%= page %>"><%= page %></a></li>
    <% end %>
  <% end %>
  <li><a href="/displaylist/<%= @type %>:<%= @page+1 %>">&raquo;</a></li>
</ul>
<% startpos = @page * pages - 1 %>
<% endpos = startpos + @items_per_page %>
<% @checks.sort[startpos..endpos].each do |check,checkobj| %>
  <% data = checkobj['checks'][check] %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= data['subscribers'].first %> | <%= check %>
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <% Displaylist.generateImageUrls(@type,check).each do |img| %>
          <div class="col-lg-6 lazy img-rounded lazyloadgraph" data-original="<%= img %>"></div>
          <noscript><img src="<%= img %>" width=500px height=250px /></noscript>
        <% end %>
      </div>
      <hr>
      <div class="well well-sm">
        URL: <%= data['command'].split(' ')[2] %><br>
        Interval: <%= data['interval'] %>
      </div>
    </div>
  </div>
<% end %>
<ul class="pagination">
  <li><a href="/displaylist/<%= @type %>:<%= @page-1 %>">&laquo;</a></li>
  <% (1..pages).each do |page| %>
    <% if page == @page %>
      <li class="active"><a href="/displaylist/<%= @type %>:<%= page %>"><%= page %></a></li>
    <% else %>
      <li><a href="/displaylist/<%= @type %>:<%= page %>"><%= page %></a></li>
    <% end %>
  <% end %>
  <li><a href="/displaylist/<%= @type %>:<%= @page+1 %>">&raquo;</a></li>
</ul>
